[defaults]
inventory = inventario.aws_ec2.yml
vault_password_file = vaultkey.txt
vault_identity_list = default@vaultkey.txt
[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
