[Unit]
Description=Gunicorn service for Microblog Flask app
After=network.target mnt-efs.mount

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/microblog
EnvironmentFile=/home/ec2-user/microblog/env/.env
ExecStart=/home/ec2-user/microblog/venv/bin/gunicorn -b 127.0.0.1:5000 microblog:app
Restart=always

[Install]
WantedBy=multi-user.target

